{% load static tailwind_tags %}
{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Django Tailwind</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% tailwind_css %}
	{% compress css %}
	<link rel="stylesheet" href="{% static 'css/dist/styles.css'  %}">
	{% endcompress %}
</head>

<body class="bg-green-50">
	<div class="container mx-auto mt-4">
		{% block content %}
		{% endblock content %}
	</div>
	{% comment %} <script src="{% static 'static_src/node_modules/flowbite/dist/flowbite.min.js'%}"></script>
	{% endcomment %}
</body>

</html>