{% load compress %}
{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en" data-theme="bumblebee">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mill Bakers</title>

	{% include "base/css.html" %}

	<script>
		// On page load or when changing themes, best to add inline in `head` to avoid FOUC
		if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia(
				'(prefers-color-scheme: dark)').matches)) {
			document.documentElement.classList.add('dark');
		} else {
			document.documentElement.classList.remove('dark')
		}
	</script>
</head>

<body class=" bg-gray-100 dark:bg-gray-800 dark:border-gray-700">

	{% include "base/top_nav.html" %}
	{% include "base/side_nav.html" %}

	<div class="p-4 sm:ml-64 bg-gray-100 dark:bg-gray-800 dark:border-gray-700">
		{% comment %} <div class="p-4 ml-64"> {% endcomment %}
			{% block content %}
			{% endblock content %}
		</div>
		{% include "base/js.html" %}
</body>

</html>