{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container my-12 py-10 mx-auto px-4 md:px-6 lg:px-12 bg-white dark:bg-gray-900 dark:text-white">
  <section
    class="container mx-auto p-4 md:p-20 grid gap-1 lg:grid-cols-2 2xl:grid-cols-3 grid-cols-1 gap-y-2 transform duration-500">
    <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl">Our <span
        class="text-transparent bg-clip-text bg-gradient-to-r to-red-600 from-yellow-400">Heritage</span>
    </h1>
  </section>
  <!--Section: Design Block-->
  <section class="mb-20 text-gray-800 bg-white dark:bg-gray-900 dark:text-white">
    <div>
      <section class="bg-white dark:bg-gray-900">
        <div
          class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
          <img class="w-full dark:hidden" src="{% static 'img/heritage/HRT1.png' %}" alt="dashboard image">
          <div class="mt-4 md:mt-0">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Our Heritage</h2>
            <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">Mill Bakers Ltd was started as a
              hobby operation in 1990 baking wedding and birthday cakes in the family kitchen
              using ordinary kitchen utensils by our founding Director, Mrs Millicent Mathenge. This later turned into a
              Sole-proprietor business with little or no hired labour. Her love for cakes was
              phenomenon which evolved to a passion for baking that was unstoppable. She would bake cakes and share with
              family, friends and neighbours. This was her side hustle when in University of Nairobi
              where she graduated from in 1990. Baking was more of a craze then such that we even had food kiosks in the
              Nairobi show ground and she never looked for employment as a result.</p>
            <a href="#"
              class="inline-flex items-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900">
              Get started
              <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </a>
          </div>
        </div>
      </section>
    </div>

    {% comment %} CTA Sections {% endcomment %}
    <div>
      <section class="bg-white dark:bg-gray-900">
        <div
          class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">

          <div class="mt-4 md:mt-0">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Humble Beginnings.
            </h2>
            <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">The first significant sale to an
              established business was KShs 5,779.00 (this was a whole month delivery) which was made to Uchumi
              Supermarkets Ltd. It was after this first successful launch sale to a supermarket. that she really got
              inspired and transferred the factory and business operations from the residential premises to the N.C.C.K
              Stalls in Makadara hamsa on Rabai Road, off Jogoo Road after receiving confirmed regular orders. As we did
              not have our own transport fleet to make deliveries over this period, we either borrowed vehicles from
              friends or hired the transport, including hiring of bicycle salesmen.</p>
            <a href="#"
              class="inline-flex items-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900">
              Get started
              <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </a>
          </div>
          <img class="w-full dark:hidden" src="{% static 'img/heritage/HRT2.png' %}" alt="dashboard image">
        </div>
      </section>
    </div>

    <div>
      <section class="bg-white dark:bg-gray-900">
        <div
          class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
          <img class="w-full dark:hidden" src="{% static 'img/heritage/HRT3.png' %}" alt="dashboard image">
          <div class="mt-4 md:mt-0">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Growth.</h2>
            <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">For a period of about 5 years we
              continued our production and made supplies to Supermarkets and kiosks in
              Nairobi only. Being in a market set-up helped our cash flow due to walk-in customers. Our bakery
              equipments
              comprised of wood fired ovens and batter mixing was basically manual using wooden spatulas. We branched
              out
              of Nairobi and opened a branch in Nakuru which was closed within two years in 1997 due to the political
              clashes then. Despite all this our Nairobi business unit grew steadily. At this time, the country
              experienced acute electric power shortages, but our advantage was that we were using firewood in our
              ovens.
              There was acute shortage of maize flour and therefore people used to mill maize in this locality and most
              of
              them became our customers and brand ambassadors. Many were awed by the fact that cakes were made in wood
              fired ovens. KTN had to experience and covered this new phenomenon. Please watch the TV Feature..</p>
            <a href="#"
              class="inline-flex items-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900">
              Get started
              <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </a>
          </div>
        </div>
      </section>
    </div>

    <div>
      <section class="bg-white dark:bg-gray-900">
        <div
          class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">

          <div class="mt-4 md:mt-0">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Baking with a
              difference.</h2>
            <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">We used to work 24 hours a
              day and insecurity was unheard of that we only ‘tried’ to close the bakery door during the bomb blast in
              1998, but the door broke down and we never closed. This marked our take-off period and business was good!
              We
              hired staff and even the banks noticed us, we even took loans to buy our vehicles from KCB. With the new
              growth we moved to larger premises in Kariobangi light industries. Our drive has been our mission to give
              our customers (we are the first customers) the very best based on continuous improvement.</p>
            <a href="#"
              class="inline-flex items-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-primary-900">
              Get started
              <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </a>
          </div>
          <img class="w-full dark:hidden" src="{% static 'img/heritage/HRT4.png' %}" alt="dashboard image">
        </div>
      </section>
    </div>
  </section>
  <!--Section: Design Block-->
</div>
{% endblock content %}